*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #f5f5f5;
}
header{
    width: 100%;
    height: 55px;
    background: #000000;
    display: flex;
    color: #fff;
}
header h1{
    padding-top: 10px;
    height: 45px;
    width: 120px;
    margin-left: 10%;
}
header ul {
    width: 300px;
    height: 55px;
    margin-left: 8px;
}
header ul li{
    float: left;
    padding-top: 18px;
    list-style: none;
    margin-left: 15px;
    font-size: 14px;
    color: gray;
    height: 37px;
    
}
header ul li:hover{
    color: #fff;
    cursor: pointer;
}
.buttons{
    margin: auto;
    margin-right: 10%;
    margin-top: 7px;
}
.login{
    color: rgba(255,255,255,0.5);
    outline: none;
    border: none;
    background: #000;
    width: 50px;
    height: 35px;
}
.login:hover{
    color: #fff;
}
.signup{
    color: white;
    outline: none;
    border: none;
    margin-left: 5px;
    width: 180px;
    height: 35px;
    background: #4250f6;
    border-radius: 4px;
}
.signup:hover{
    background: rgba(66,80,246,0.8);
}

nav{
    display: flex;
    height: 60px;
    width: 100%;
    background: #fff;
}
nav h1 {
    font-size: 23px;
    font-weight: 120;
    padding-top: 10px;
    margin-left: 10%;
}
nav ul{
    color: gray;
    height: 60px;
}
nav ul li{
    float: left;
    list-style: none;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 600;
    height: 42px;
    padding-top: 18px;
}
nav ul li:hover{
    border-bottom: 3px solid black;
    cursor: pointer;
}


main ul{
    margin-left: 10%;
    margin-top: 20px;
}
main ul li{
    float: left;
    list-style: none;
    margin-left: 20px;
    font-size: 16px;
    color: gray;
    font-weight: 600;
}
main ul li:first-child{
    margin-left: 0;
}
main ul li:hover{
    color: #000;
    cursor: pointer;
}


.container2{
    display: grid;
    margin-left: 10%;
    grid-template-columns: repeat(4,260px);
    background: #f5f5f5;
    width: 1060px;
    grid-gap: 10px;
    
}
.container2 div{
    width: 250px;
    height: 300px;
}
.block{
    margin-top: 20px;
}
.container2 div img{
    width: 100%;
    height: 200px;
}
.container2 div div{
    width: 99%;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 0;
}
.container2 div  div p {
    float: left;
    margin-left: 5%;
    margin-top: 5px;
    cursor: context-menu;
}
.container2 div  div p i{
    color: gray;
}
.container2 div  div p i:hover{
    color: #000;
}
.profil{
    font-size:25px ;
    margin-top:10px ;
    margin-right: 10px;
    float: left;
    color: gray;
}
.profil-p{
    float: left;
    margin-top: 9px;
}

footer{
    background: #fff;
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-gap: 35px;
    margin-bottom: 50px;
}
footer ul{
    float: left;
    list-style: none;
    margin-top: 40px;
    margin-left: 150px;
}
footer ul li {
    font-size: 18px;
    line-height: 40px;
}
footer ul a{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}
footer ul a:hover{
    color: #000;
}
@media screen and (min-width:760px) and (max-width:1059px){
    .container2{
        grid-template-columns: repeat(3,260px);
        width: 740px;
    }
    footer{
        grid-template-columns: repeat(3,300px);
        width: 740px;
    }
}
@media screen and (min-width:540px) and (max-width:759px){
    .container2{
        grid-template-columns: repeat(2,260px);
        width: 520px;
    }
    footer{
        grid-template-columns: repeat(2,300px);
    }
}
@media screen and (min-width:360px) and (max-width:539px){
    .container2{
        grid-template-columns: repeat(1,260px);
        
    }
    footer{
        grid-template-columns: repeat(1,300px);

    }
}
